<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 32px; font-weight: 700; letter-spacing: 1px; line-height: 1.4;">Where Advanced Technology Meets Dental Artistry</h1>
            <hr>
            <p>From high-precision crowns to custom dental appliances, we provide reliable, efficient, and aesthetic results tailored to your clinical needs.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
